---
import ReportLayout from '@/layouts/Report.astro'

import { route } from '@/stores/routes'
---

<ReportLayout>
  <div>
    <h4 class="p-4 flex justify-center text-3xl font-medium">Publish success!</h4>
    <p class="p-1 mb-3">
      Click
      <a href={route('report')} class="underline text-skin-link hover:text-skin-link-active">here</a>
    </p>
  </div>
</ReportLayout>
