#MO {
  top: 185.989px;
  left: 163.565px;
}

#MOIP {
  top: 185.989px;
  left: 163.565px;
}

#mw007 {
  top: 170.825px;
  left: 101.595px;
}

#mw014 {
  top: 320.716px;
  left: 91.966px;
}

#makati05 {
  top: 247.138px;
  left: 131.989px;
}

#mw027 {
  top: 204.394px;
  left: 252.437px;
}

#makati07 {
  top: 242.649px;
  left: 136.957px;
}

#mw028 {
  top: 206.180px;
  left: 182.877px;
}

#mw012 {
  top: 124.748px;
  left: 119.407px;
}

#mo004 {
  top: 240.674px;
  left: 138.889px;
}

#makati02 {
  top: 233.830px;
  left: 126.946px;
}

#makati06 {
  top: 251.292px;
  left: 152.333px;
}

#makati03 {
  top: 239.881px;
  left: 113.058px;
}

#makati01 {
  top: 252.293px;
  left: 120.370px;
}

#makati04 {
  top: 241.415px;
  left: 153.288px;
}

#mw017 {
  top: 237.511px;
  left: 97.505px;
}

#mo001 {
  top: 161.867px;
  left: 187.009px;
}

#mw008 {
  top: 185.207px;
  left: 75.396px;
}

#mw013 {
  top: 291.251px;
  left: 91.966px;
}

#mw015 {
  top: 306.523px;
  left: 113.676px;
}

#mw016 {
  top: 278.281px;
  left: 131.085px;
}

#mw006 {
  top: 224.541px;
  left: 178.044px;
}

#mw001 {
  top: 328.847px;
  left: 110.953px;
}

#mw002 {
  top: 158.729px;
  left: 164.885px;
}

#mw003 {
  top: 191.611px;
  left: 135.132px;
}

#mw004 {
  top: 161.758px;
  left: 131.448px;
}

#mw018 {
  top: 131.072px;
  left: 177.738px;
}

#mw011 {
  top: 212.507px;
  left: 127.851px;
}

#mw010 {
  top: 200.077px;
  left: 96.701px;
}

#mw009 {
  top: 144.463px;
  left: 84.646px;
}

#mw024 {
  top: 267.341px;
  left: 212.572px;
}

#mw020 {
  top: 152.975px;
  left: 193.495px;
}

#mw021 {
  top: 227.176px;
  left: 229.259px;
}

#mw005 {
  top: 198.795px;
  left: 202.145px;
}

#mw023 {
  top: 358.453px;
  left: 353.942px;
}

#mw019 {
  top: 114.704px;
  left: 200.948px;
}

#mw022 {
  top: 254.946px;
  left: 191.381px;
}

#mw026 {
  top: 367.489px;
  left: -193.354px;
}

#zipzone {
  top: 4852.452px;
  left: 2881.098px;
}

#xuws1 {
  top: 4674.939px;
  left: 2765.617px;
}

#xuws2 {
  top: 4674.939px;
  left: 2765.617px;
}

#MOD {
  top: 5700.243px;
  left: 3446.378px;
}

#mo003 {
  top: 6118.909px;
  left: 2907.654px;
}

#mo002 {
  top: 5816.708px;
  left: 891.685px;
}