#MO {
  top: 188.709px;
  left: 172.002px;
}

#MOIP {
  top: 188.709px;
  left: 172.002px;
}

#mw007 {
  top: 188.165px;
  left: 169.777px;
}

#mw014 {
  top: 193.546px;
  left: 169.432px;
}

#makati05 {
  top: 190.904px;
  left: 170.869px;
}

#mo004 {
  top: 190.672px;
  left: 171.116px;
}

#makati02 {
  top: 190.427px;
  left: 170.687px;
}

#makati06 {
  top: 191.053px;
  left: 171.599px;
}

#makati03 {
  top: 190.644px;
  left: 170.189px;
}

#makati01 {
  top: 191.089px;
  left: 170.451px;
}

#makati04 {
  top: 190.699px;
  left: 171.633px;
}

#mw017 {
  top: 190.559px;
  left: 169.631px;
}

#mo001 {
  top: 187.843px;
  left: 172.844px;
}

#mw008 {
  top: 188.681px;
  left: 168.837px;
}

#mw013 {
  top: 192.488px;
  left: 169.432px;
}

#mw015 {
  top: 193.036px;
  left: 170.211px;
}

#mw016 {
  top: 192.022px;
  left: 170.836px;
}

#mw006 {
  top: 190.093px;
  left: 172.522px;
}

#mw001 {
  top: 193.838px;
  left: 170.113px;
}

#mw002 {
  top: 187.730px;
  left: 172.049px;
}

#mw003 {
  top: 188.911px;
  left: 170.981px;
}

#mw004 {
  top: 187.839px;
  left: 170.849px;
}

#mw018 {
  top: 186.737px;
  left: 172.511px;
}

#mw011 {
  top: 189.661px;
  left: 170.720px;
}

#mw010 {
  top: 189.215px;
  left: 169.602px;
}

#mw009 {
  top: 187.218px;
  left: 169.169px;
}

#mw024 {
  top: 191.630px;
  left: 173.761px;
}

#mw021 {
  top: 190.188px;
  left: 174.361px;
}

#mw005 {
  top: 189.169px;
  left: 173.387px;
}

#mw023 {
  top: 194.901px;
  left: 178.837px;
}

#mw019 {
  top: 186.150px;
  left: 173.344px;
}

#mw020 {
  top: 187.524px;
  left: 173.077px;
}

#mw026 {
  top: 195.225px;
  left: 159.189px;
}

#mw022 {
  top: 191.185px;
  left: 173.001px;
}

#zipzone {
  top: 356.237px;
  left: 269.563px;
}

#xuws1 {
  top: 349.865px;
  left: 265.417px;
}

#xuws2 {
  top: 349.865px;
  left: 265.417px;
}

#MOD {
  top: 386.673px;
  left: 289.857px;
}

#mo003 {
  top: 401.704px;
  left: 270.516px;
}

#mo002 {
  top: 390.855px;
  left: 198.142px;
}

#mw027 {
  top: 189.370px;
  left: 175.193px;
}

#mw012 {
  top: 186.510px;
  left: 170.417px;
}

#makati07 {
  top: 190.743px;
  left: 171.047px;
}

#mw028 {
  top: 189.434px;
  left: 172.695px;
}