---
import FormLayout from '@/layouts/Form.astro'
---

<FormLayout>
  <div class="w-full flex flex-col p-6 space-y-4 md:space-y-6 sm:p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
      Publish success!
    </h1>
    <hr class="h-px mb-4 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="space-y-4 md:space-y-6">
      <p class="text-lg text-gray-500 dark:text-gray-400">
        Click
        <a href="/reports" target="_blank" class="font-medium text-blue-600 hover:underline dark:text-blue-500">here</a>
      </p>
    </div>
  </div>
</FormLayout>
