---
import DefaultLayout from '@/layouts/Default.astro'
---

<DefaultLayout>
  <!-- uses Default from ./layouts -->
  <div class="h-full flex flex-col justify-center items-center text-center">
    <!-- constructs landing page for invalid urls -->
    <div class="i-fa6-solid-triangle-exclamation text-8xl"></div>
    <span class="text-4xl font-medium">Page not found</span>
    <span class="p-4 text-lg">We are sorry, but the page you requested was not found</span>
    <a
      href="/"
      class="bg-gray-500 hover:bg-gray-200 text-gray-200 hover:text-gray-500 uppercase px-3 py-2 rounded-lg shadow-lg"
    >
      Go to Home
    </a>
  </div>
</DefaultLayout>
