---
import Fa6SolidTriangle from '~icons/fa6-solid/triangle-exclamation'

import DefaultLayout from '@/layouts/Default.astro'
---

<DefaultLayout>
  <div class="h-full flex flex-col justify-center items-center text-center">
    <Fa6SolidTriangle class="text-8xl" />
    <span class="text-4xl font-medium">Page not found</span>
    <span class="p-4 text-lg">We are sorry, but the page you requested was not found</span>
    <a
      href="/"
      class="bg-skin-button hover:bg-skin-button-accent text-skin-button hover:text-skin-button-accent uppercase px-3 py-2 rounded-lg shadow-lg"
    >
      Go to Home
    </a>
  </div>
</DefaultLayout>
